<%=name%>, Your age is <%=age%>.
Enter your 3 favorite numbers:
<form action="/fav_nums" method="post">
    <input type="number" name="user_fav_nums1">
    <br>
    <input type="number" name="user_fav_nums2">
    <br>
    <input type="number" name="user_fav_nums3">
    <br>
    <input type="submit">
</form>
